/* Write your CSS here */
.app-container {
  min-height: 100vh;
  background-image: linear-gradient(#fff1eb, #ace0f9);
  padding-top: 40px;
  padding-bottom: 40px;
}
.app-store-heading {
  font-family: 'Bree Serif';
  font-size: 24px;
  color: #1e293b;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .app-store-heading {
    font-size: 28px;
    margin-bottom: 50px;
  }
}

.input-container {
  border: 2px solid #7b8794;
  max-width: 200px;
  margin: auto;
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .input-container {
    max-width: 400px;
  }
}
.search-input {
  width: 80%;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Bree Serif';
  font-size: 14px;
  /* border: 1px solid red; */
}
@media screen and (min-width: 768px) {
  .search-input {
    font-size: 18px;
  }
}
.search-icon-image {
  height: 20px;
  align-self: center;
}

.image-container {
  padding-top: 5px;
  margin-right: 15px;
}

.tabs-list-container {
  max-width: 300px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .tabs-list-container {
    max-width: 455px;
  }
}

.apps-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .apps-list-container {
    margin-bottom: 150px;
  }
}
