/* Write your CSS here */
.tab-item-container {
  padding-right: 4px;
  margin-bottom: 20px;
  border-bottom: 1px solid #7b8794;
}
@media screen and (min-width: 768px) {
  .tab-item-container {
    padding-right: 24px;
  }
}

.tab-btn {
  font-family: 'Bree Serif';
  color: #7b8794;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .tab-btn {
    font-size: 24px;
  }
}

.active-tab-btn {
  border-bottom: 1px solid #2563eb;
  color: #2563eb;
}
